<div class="row">
	<div class="col col-offset-20 col-60 text-center">
		<div class="google-btn" ng-click="vm.googleSignIn()">
			<i class="ion-social-googleplus"></i>
			<span class="">Sign in with Google</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col col-offset-10 col-80">
		<div ng-if="vm.invalidLogin" class="text-danger text-center">
			Invalid credentials
		</div>
		<small>Email</small>
		<input type="email" class="form-input padding-left" ng-model="vm.email">
		<small>Password</small>
		<input type="password" class="form-input padding-left" ng-model="vm.password">
	</div>
	<div class="col-10"></div>
</div>
<div class="row">
	<div class="col col-offset-20 col-60 text-center">
		<button class="button button-positive button-small sign-in" ng-click="vm.login()">Sign in</button>
		<div class="register-btn">
			<a ui-sref="app.register"/>
				First time users, Register here
			</a>
		</div>
	</div>
</div>