<ion-view class="login" cache-view="false">
	<ion-content>
		<div class="margin-top-20">
			<div class="row">
				<div class="col col-offset-20 col-60 text-center">
					<span class="ion-ios-book padding-right-5"></span>
					<b class="large-font">Learning Cloud</b>
				</div>
			</div>
			<div class="row">
				<div class="col col-offset-10 col-80 text-center">
					<small>Grow your people grow your company</small>
				</div>
			</div>
			<div class="margin-top-20">
				<div class="row">
					<div class="col col-offset-10 col-80">
						<small>Username</small>
						<input type="text" class="form-input" ng-model="vm.username">
						<small>Password</small>
						<input type="text" class="form-input" ng-model="vm.password">
					</div>
					<div class="col-10"></div>
				</div>
				<div class="row">
					<div class="col col-offset-20 col-60 text-center">
						<button class="button button-positive button-small sign-in" ng-click="vm.login()">Sign in</button>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
