<div class="padding horizontally-center">Hi <b>{{vm.username}}</b>, lets complete your profile</div>
<div class="row">
	<div class="col col-offset-10 col-80">
		<form name="googleForm" ng-submit="vm.signup(googleForm)" class="register">
			<label class="item-input margin-10">
			   <span class="input-label">
			    	<i class="ion-asterisk asterick"></i> 
			    	<span class="padding-left-10"> Password</span>		
			    </span>
			    <input type="password" ng-model="vm.password" ng-change="vm.wrongPasswords = false"
			    		required />
			</label>
			<label class="item-input margin-10">
			    <span class="input-label">
			    	<i class="ion-asterisk asterick"></i> 
			    	<span class="padding-left-10"> Company</span>		
			    </span>
			    <input type="text" ng-model="vm.company" required />
			</label>
			<div class="item-input margin-10 label-feel">
				<div class="input-label">
			      Genres
			    </div>
			   	<fancy-select
			   	  show-text="true"
		          header-text="Choose genres"
		          allow-empty='true'
		          value="vm.selectedGenres"
		          text="'Choose'"
		          items="vm.genres"
		          multi-select="true">
		    	</fancy-select>
			</div>
			<label class="item-input margin-10">
			    <span class="input-label">Groups</span>
			    <input type="text" ng-model="vm.groups">
			</label>
			<div class="register-buttons text-center">
				<button type="submit" ng-class="googleForm.$valid ? 'link' : 'disable'">
					Done
				</button>
			</div>
		</form>
	</div>
</div>