<div class="row container tile">
    <div class="col col-offset-10 col-30 pos-relative">
        <div class="points-badge">
            <div class="vertically-center text-center">
                <span>{{vm.book.points}}</span> <small class="small">POINTS</small>
            </div>
        </div>
        <img ng-src="{{vm.book.bookImg}}" />
    </div>
    <div class="col col-60">
        <div class="text-center">
            <b>{{vm.book.bookName}}</b>
            <div>{{vm.book.authorName}}</div>
            <div ng-if="vm.bookStatus === 'activity'" class="row no-padding button-bar button-feel">
                <a class="col">Add</a>
                <a class="col">Recommend</a>
            </div>
            <div ng-if="vm.bookStatus === 'QUEUE'" class="row no-padding button-bar button-feel">
                <a class="col">Start</a>
                <a class="col">Remove</a>
            </div>
            <div ng-if="vm.bookStatus === 'ALREADY READ'" class="row no-padding button-bar button-feel single-button">
                <a class="col">Recommend</a>
            </div>
            <div ng-if="vm.bookStatus === 'RECOMMENDED'" class="row no-padding button-bar button-feel single-button">
                <a class="col">Start</a>
            </div>
            <div ng-if="vm.bookStatus === 'CURRENT'" class="row no-padding button-bar button-feel single-button">
                <a class="col">Finish</a>
            </div>
            </div>
    </div>
</div>