<div class="row container tile">
    <div class="col col-offset-10 col-30 pos-relative">
        <div class="points-badge">
            <div class="center text-center">
                {{vm.book.points}} points
            </div>
        </div>
        <img ng-src="{{vm.book.bookImg}}" />
    </div>
    <div class="col col-60">
        <div class="text-center">
            <b>{{vm.book.bookName}}</b>
            <div>{{vm.book.authorName}}</div>
            <div class="row responsive-sm">
                <div class="col no-padding">
                    <button class="button button-dark button-small">
                        Add to Queue
                    </button>
                </div>
                <div class="col no-padding">
                    <button class="button button-dark button-small">
                        Recommend
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>