<ion-view class="leaderboard" cache-view="false">
    <ion-content scroll="true">
        <div class="row">
          <div class="heading col col-80">LEADERBOARD</div>
          <div class="col">
            <label class="toggle toggle-dark">
            <input type="checkbox" ng-model="vm.toggleChart">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          </div>
        </div>
        <div ng-if="vm.toggleChart">
            <nvd3 options="vm.options" data="vm.chartData"></nvd3>
        </div>
        <div ng-if="!vm.toggleChart">
          <div class="card" ng-repeat="user in vm.users track by $index">
          <div class="item item-text-wrap row">
              <div class="col col-10">
                <b>{{$index + 1}}</b>
              </div>
              <div class="col col-20">
                <img ng-src={{user.img}} /> 
              </div>
               <div class="col col-40">
                {{user.name}}
              </div>
              <div class="col col-offset-10 col-20">
                 <b>{{user.score}}</b>
              </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>