<ion-view name="userProfile" class="userProfile">
	<ion-content scroll="true">
		<div class="row">
			<div class="col col-offset-90 font-size-25">
				<i class="ion-ios-close-outline" ng-click="vm.goBack()"></i>
			</div>
		</div>
		<div class="row text-center">
			<div class="col col-33 medium-font">
				<div><b>My points</b></div>
				<div class="blue-font">{{vm.user.score}}</div>
			</div>
			<div class="col col-33">
				<img ng-src="{{vm.user.imageUrl}}" class="user-img" />
				<div>{{vm.user.name}}</div>
				<div>{{vm.user.organization}}</div>
			</div>
			<div class="col col-33 medium-font">
				<div><b>Books Read</b></div>
				<div class="blue-font">{{vm.booksRead}}</div>
			</div>
		</div>
		<div class="row margin-3">
			<div class="col-33">
				<b>Categories:</b>
			</div>
			<div class="col-50">
				<span ng-repeat="cat in vm.user.favorites" class="tag">
					<b>{{cat}}</b>
				</span>
				<span ng-if="!vm.user.favorites.length">None selected</span>
			</div>
			<div class="col-10">
				<fancy-select
				  show-text="false"
                  header-text="Choose genres"
                  allow-empty='false'
                  value="vm.selectedGenres"
                  text= "''"
                  items="vm.genres"
                  callback="vm.genresSelected(value)"
                  multi-select="true">
            	</fancy-select>
			</div>
		</div>
		<div class="row margin-3">
			<div class="col-33">
				<b>Reminder (sec):</b>
			</div>
			<div class="col-50">
				<input ng-if="vm.editTime" value="vm.notificationTime" ng-model="vm.notificationTime" />
				<span ng-if="!vm.editTime">{{vm.notificationTime}}</span>
			</div>
			<div class="col-10">
				<i class="ion-edit" ng-if="!vm.editTime" ng-click="vm.editTime = !vm.editTime"></i>
				<i class="ion-checkmark-round" ng-if="vm.editTime" ng-click="vm.editTime = !vm.editTime"></i>
			</div>
		</div>
		<div class="text-center margin-top-10">
			<div class="large-font">CURRENTLY READING</div>
			<div ng-repeat="bookObj in vm.books">
				<book-tile book=bookObj book-status="'STARTED_READING'" my-book="true"></book-tile>
			</div>
			<div ng-if="!vm.books.length" class="margin-top-15">
				May be, you should read more
			</div>
		</div>
	</ion-content>
</ion-view>