<ion-view name="userProfile" class="userProfile">
	<ion-content scroll="true">
		<div class="row">
			<div class="col col-offset-90 font-size-25">
				<i class="ion-ios-close-outline" ng-click="vm.goBack()"></i>
			</div>
		</div>
		<div class="row text-center">
			<div class="col col-33 medium-font">
				<div><b>My points</b></div>
				<div class="blue-font">{{vm.user.points}}</div>
			</div>
			<div class="col col-33">
				<img ng-src="{{vm.user.img}}" class="user-img" />
				<div>{{vm.user.name}}</div>
				<div>{{vm.user.title}}, {{vm.user.org}}</div>
			</div>
			<div class="col col-33 medium-font">
				<div><b>Books Read</b></div>
				<div class="blue-font">{{vm.user.booksRead}}</div>
			</div>
		</div>
		<div class="row medium-font margin-5">
			<div class="col col-33">
				<b>Categories:</b>
			</div>
			<div class="col">
				<span ng-repeat="cat in vm.user.categories" class="tag">
					<b>{{cat}}</b>  <i class="ion-ios-close-empty" ng-click="vm.removeCategory(cat)"></i>
				</span>
			</div>
		</div>
		<div class="text-center margin-top-10">
			<div class="large-font">CURRENTLY READING</div>
			<div ng-repeat="bookObj in vm.currentBooks">
				<book-tile book=bookObj book-status="'CURRENT'"></book-tile>
			</div>
		</div>
	</ion-content>
</ion-view>