<ion-view name="readingList" class="readingList" cache-view="false">
	<ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title align-title="center">
	      Home
	    </ion-nav-title>
    </ion-nav-bar>
	<ion-content class="has-header img-container" scroll="true">
		<div class="heading">{{vm.status}}</div>
		<div ng-if="vm.status === 'RECOMMENDED'" class="recommended-section">
			<div ng-if="vm.adminRecommendedBooks.length">{{vm.user.organization}}'s suggested books</div>
			<div ng-repeat="book in vm.adminRecommendedBooks" class="border-left">
				<book-tile book="book" book-status="vm.status" callback="vm.updateRecommendation(bookObj, status)" my-book="true">
					
				</book-tile>
			</div>
		</div>
		<div ng-repeat="book in vm.books">
			<book-tile book="book" book-status="vm.status" callback="vm.updateRecommendation(bookObj, status)" my-book="true">
				
			</book-tile>
		</div>
	</ion-content>
	<ion-tabs class="tabs-dark tabs-icon-top">

	  <ion-tab title="Recommended" icon-on="ion-lightbulb" icon-off="ion-android-bulb" on-select="vm.getBooks('RECOMMENDED')">
	 	
	  </ion-tab>
	  <ion-tab title="Read" icon-on="ion-android-menu" icon-off="ion-android-menu" on-select="vm.getBooks('READ')">
	 	
	  </ion-tab>
	  <ion-tab title="Queue" icon-on="ion-android-time" icon-off="ion-android-time" on-select="vm.getBooks('QUEUE')">
	 	
	  </ion-tab>

	</ion-tabs>
</ion-view>