<div class="tile row">
    <div class="col text-center white-bckgrnd margin-5">
        <div class="row">
            <div class="col col-20 pos-relative">
                <img class="round-image" ng-src="{{vm.bookFeed.userImgUrl}}" />
            </div>
            <div class="col col-60 margin-auto">
                <b>{{vm.bookFeed.name}}</b>
                <span ng-if="vm.bookFeed.status === 'QUEUE'">  added to queue</span>
                <span ng-if="vm.bookFeed.status === 'READ'">  finished reading</span>
                <span ng-if="vm.bookFeed.status === 'STARTED_READING'">  is currently reading</span>
                <span ng-if="vm.bookFeed.status === 'RECOMMENDED'">  recommended</span>
                
            </div>
            <div class="col-20 thumbsup">
                <i class="ion-thumbsup padding-right-15" ng-click="vm.liked = !vm.liked" ng-class="{'tapped' : vm.liked}"></i>
                <i class="ion-android-notifications" ng-click="vm.addReminder()" ng-class="{'tapped' : vm.tapped}"></i>
            </div>
        </div>
        <book-tile book="vm.bookFeed" my-book="false"></book-tile>
        </div>
    </div>
</div>
