<ion-view name="Book details" class="book-details" cache-view="false">
	<ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title align-title="center">
	      Home
	    </ion-nav-title>
    </ion-nav-bar>
	<ion-content class="has-header has-footer" scroll="true">
		<ion-slides options="vm.options" slider="vm.sliderData.sliderDelegate">
	    <ion-slide-page>
	      <div ng-include="'features/book-details/details.html'" class="height-100"></div>
	    </ion-slide-page>
			<ion-slide-page>
	      <!-- <div ng-include="'features/book-details/details.html'"></div> -->
	    </ion-slide-page>
	  </ion-slides>
	</ion-content>
	<div class="bar bar-dark bar-footer button-bar">
		<div class="row">
			<div class="col-33 text-center" ng-click="vm.createBookfeed('QUEUE')">
				<a class="white-font">Add</a>
			</div>
			<div class="col-33 text-center" ng-click="vm.createBookfeed('STARTED_READING')">
				<a class="white-font">Start</a>
			</div>
			<div class="col-33 text-center">
				 <fancy-select
				    show-text="true"
				    header-text="Recommend"
				    allow-empty='true'
				    value="vm.selectedUsers"
				    text="'Recommend'"
				    items="vm.users"
				    multi-select="true"
				    callback="vm.createRecommendation(value)"
				    update-text="'Recommend'">
				  </fancy-select>
			</div>
		</div>
	</div>
</ion-view>
