<ion-view name="Book details" class="book-details">
	<ion-nav-bar class="bar-dark">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title align-title="center">
	      Home
	    </ion-nav-title>
    </ion-nav-bar>
	<ion-content class="has-header has-footer" scroll="true">
		<div class="row">
			<div class="col col-20 pos-relative">
		        <div class="points-badge">
		        	<div class="text-center vertically-center">
		        		<b class="purple-font">{{vm.book.bookPoints}}</b> <div class="very-small-font-size">POINTS</div>
		        	</div>
		        </div>
	    	</div>
	    	<b class="heading text-center">
				{{vm.book.title}}
			</b>
		</div>
		<div class="padding">
			<div class="image-container">
				<img ng-src="{{vm.book.imageUrl}}" />
				<div class="margin-top-10 bold-font">{{vm.book.authorName}}</div>
				<div>{{vm.book.releaseDate}}</div>
			</div>
			<div ng-bind-html="vm.book.description"></div>
			<div ng-if="vm.pastReaders.length">
				<div class="readers-title">Co-workers who have read this book:</div>
				<div ng-repeat="reader in vm.pastReaders">
					<img class="reader-image" ng-src="{{reader.userImgUrl}}" />
					<span class="reader-name">{{reader.name}}</span>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-dark bar-footer button-bar">
		<div class="row">
			<div class="col-33 text-center" ng-click="vm.createBookfeed('QUEUE')">
				<a class="white-font">Add</a>
			</div>
			<div class="col-33 text-center" ng-click="vm.createBookfeed('STARTED_READING')">
				<a class="white-font">Start</a>
			</div>
			<div class="col-33 text-center">
				 <fancy-select
				    show-text="true"
				    header-text="Recommend"
				    allow-empty='true'
				    value="vm.selectedUsers"
				    text="'Recommend'"
				    items="vm.users"
				    multi-select="true"
				    callback="vm.createRecommendation(value)"
				    update-text="'Recommend'">
				  </fancy-select>
			</div>
		</div>
	</div>
</ion-view>
