<ion-header class="bar bar-header bar-dark row search">
    <div class="col col-20 text-center pos-relative"  ui-sref="app.userProfile">
        <img class="vertically-center" ng-src="{{vm.user.imageUrl}}" />
    </div>
    <div class="col col-70 no-padding">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete width-100 padding-left"
                   autocomplete="off"
                   ng-model="vm.selectedBook"
                   item-value-key="goodReadsId"
                   item-view-value-key="title"
                   items-method="vm.getResults(query)"
                   placeholder="Search Book Title, ISBN""
                   items-clicked-method="vm.itemSelected(callback)"
                   max-selected-items="1"
                   clear-on-select="true"
                   external-model="vm.emptyArray"
                   ng-model-options="{debounce:1000}"
                   cancel-label="X"/>
    </div>
    <div class="col-10 horizontally-center" ng-click="vm.openSettings($event)">
        <i class="ion-gear-b"></i>
    </div>
</ion-header>
