.app .pane {
	background-color: #ece9e9;

	.pos-relative {
		position: relative;
	}

	.vertically-center {
		position: absolute;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    left: 50%;
	}

	.horizontally-center {
		text-align: center;
	}
}

.ion-autocomplete-container {
	z-index: 20;
	
	.item-divider {
		display: none;
	}

	.ion-autocomplete-cancel {
		background-color: gray;
	}
}

.custom-tablet-styles {
	font-size: 25px;

	button {
		font-size: 17px;
	}
}

.logout-popover {
	height: 40px;

	ion-content {
		padding-left: 10px;
	}
}

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 3px;
}

ul.rating li i {
  font-size: 30px;
}
