.book-details {
	.heading {
		padding: 12px;
		font-size: 1.4em;
	}

	img {
		max-height: 80%;
    	max-width: 80%;
    	width: 80%;
    	box-shadow: 5px 5px 5px #888888;
	}

	.points-badge {
		z-index: 100;
		position: absolute;
		top: 20%;
		height: 70%;
		width: 100%;
		background-color: black;
		opacity: .9;
		color: white;
		border-radius: 50%;
		border: 3px solid white;
		box-shadow: 5px 5px 5px #888888;
	}

	.white-font {
		color: white;
	}

	.margin-top-10 {
		margin-top: 10px;
	}

	.purple-font {
		color: #7a4ef5;
	}

	.very-small-font-size {
		font-size: 0.5em;
	}

	.very-small-font-size {
		font-size: 0.5em;
	}

	.readers-title {
		font-size: 1.2em;
		font-weight: bold;
		padding-top: 5px;
	}

	.reader-image {
		max-width:40px;
		border-radius: 50%;
	}

	.reader-name {
		padding-left: 15px;
	}

	.image-container {
		float: left;
		padding: 5px;
	}

	.bold-font {
		font-weight: bold;
		width: 80%
	}
}
