.book-details {
	.heading {
		padding: 12px;
		font-size: 1.4em;
	}

	img {
		max-height: 80%;
    	max-width: 78%;
    	width: 80%
	}

	.points-badge {
		z-index: 100;
		position: absolute;
		top: 20%;
		height: 45%;
		width: 55%;
		background-color: black;
		opacity: .9;
		color: white;
		border-radius: 50%;
		border: 3px solid white;
	}

	.white-font {
		color: white;
	}

	.margin-top-10 {
		margin-top: 10px;
	}

	.purple-font {
		color: #7a4ef5;
	}

	.very-small-font-size {
		font-size: 0.5em;
	}

	.very-small-font-size {
		font-size: 0.5em;
	}

	.image-container {
		float: left;
	}

	.bold-font {
		font-weight: bold;
		width: 80%
	}
}