.custom-tile {

	.container img {
	  max-width: 100%;
	  max-height: 90%;
	  border-radius: 50%;
	}

	.width-80{
		width: 80%;
	}

	.white-bckgrnd {
		background-color: white;
	}

	.margin-auto {
		margin: auto
	}
}