.leaderboard {
	.heading {
		color: gray;
		padding: 12px;
		font-size: 1.1em;
	}

	img {
		max-width: 50%;
	    border-radius: 50%;
	}	

	.card {
		margin: 10px;
	}

	.largest {
		font-size: xx-large;
	}

	.xlarge {
		font-size: x-large;
		padding: 0 3px;
	}
}