.login {
	.padding-right-5 {
		padding-right: 5px;
	}

	.margin-top-5 {
		margin-top: 5%
	}

	.large-font {
		font: 1.5em;
	}

	.form-input {
		width: 100%;
		border-radius: 25px;
	}

	.sign-in {
		width: 50%;
    	border-radius: 20px;
	}

	.register-btn {
		margin-top: 15%
	}

	.text-danger {
		color: red;
	}

	.google-btn {
		background-color: #db4437;
		color: white;
		font-size: 1.2em;
    	font-weight: 500;
    	margin-top: 5%;

    	.ion-social-googleplus {
    		float: left;
		    padding: 0 10px;
		    border-right: solid lightgray 1px;
    	}
	}

	button {
		background-color: #ece9e9;
		border: none;
	}

	fancy-select {
		width: 100%;
	}

	.img-bg {
		background-color: white;
		// border-top-right-radius: 20%;
    // border-bottom-right-radius: 20%;
    // border-top-left-radius: 5%;
    // border-bottom-left-radius: 5%;
	}

	.app-logo {
		width: 100%;
		padding: 2px;
	}
}
