.login {
	.padding-right-5 {
		padding-right: 5px;
	}

	.margin-top-15 {
		margin-top: 15%
	}

	.large-font {
		font: 1.5em;
	}

	.form-input {
		width: 100%;
		margin:auto;
	}

	.sign-in {
		width: 50%;
    	border-radius: 20px;
	}

	.register-btn {
		margin-top: 15%
	}
}
