.readingList {
	.heading {
		color: gray;
		padding: 10px;
		font-size: 1.2em;
		font-weight: bold;
	}

	.img-container {
		position: relative;
		height: 100%;
	    width: 100%;
	    display: block;
	}

	.img-container:before {
	    content: ' ';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    opacity: 0.3;
	    background-image: url("../resources/img/book.jpeg");
			background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 0;
	}

	.button-bar {
		border-radius: 25px;
		background-color: #444;
	}

	.options {
		color: white;
		font-size: 1.2em;
	}

	.selected {
		background-color: dodgerblue;
		border-radius: 25px;
	}

	.padding-2 {
		padding: 2px;
	}

	.margin-15 {
		margin: 15px;
	}

	.padding-10 {
		padding: 10px;
	}
}
