.register {
	.margin-top-15 {
		margin-top: 15%
	}

	.error {
		border: solid 2px orangered;
	}

	.error-text {
		color: orangered;
	}

	.large-font {
		font: 1.5em;
	}

	label {
		border-radius: 25px;
		background-color: white;
	}

	.input-label {
		font-size: 12px;
		opacity: 0.7;
		min-height: 34px;
	}

	.margin-10 {
		margin: 10px 0;
	}

	.register-buttons {
		margin-top: 10%;
	}

	.link {
		color: #428bca;
	}

	.disable {
		color: lightslategrey;
	}

	.text-danger {
		color: red;
	}

	.asterick {
		position: absolute;
	    font-size: 0.6em;
	}

	.padding-left-10 {
		padding-left: 10px;
	}

	.label-feel {
		background-color: white;
    	border-radius: 25px;
	}

	.horizontally-center {
		text-align: center;
	}

	.margin-top-10 {
		margin-top: 10%;
	}

	.user-image {
		img {
			max-width: 70%;
			max-height: 70%;
			border-radius: 50%;
		}
	}

	.timeline-circle {
		float: left;
		border-radius: 25px;
		margin: 10%;
      	width: 20px;
      	height: 20px;
      	background: white;
	}

	.done {
  		background: gray;
  	}

  	.center-timeline {
  		margin: auto;
  		width: 50%;
  	}

  	button {
		background-color: #ece9e9;
		border: none;
	}

	fancy-select {
		width: 100%;
	}
}
