.search {
	.no-padding {
		padding: 0
	}

	.width-100 {
		width: 100%;
	}

	img {
		max-width: 50%;
		height: 100%;
	    border-radius: 50%;
	}

	.padding-left {
		padding-left: 10px;
	}

	i {
		font-size: x-large;
	}
}