.tile {

	img {
	  max-width: 85%;
	  max-height: 85%;
	  box-shadow: 5px 5px 5px #888888;
	}

	.white-bckgrnd {
		background-color: white;
	}

	.margin-auto {
		margin: auto
	}

	.pos-relative {
		position: relative;
	}

	button {
		border-radius: 10px;
	}

	.no-padding {
		padding: 0;
		margin: 0;
	}

	.points-badge {
		z-index: 100;
		position: absolute;
		top: 20%;
		height: 45%;
		width: 55%;
		background-color: black;
		opacity: .9;
		color: white;
		border-radius: 50%;
		border: 3px solid white;
		left: -20%;
	}

	.button-feel {
		background-color: #444;
		font-size: 0.7em;
		border-radius: 25px;
		margin-top: 15%;
		cursor: pointer;

		a {
			color: white;
		}
	}

	.button-bar {
		border-radius: 25px;
	}

	.single-button {
		width: 50%;
    	margin-left: auto;
    	margin-right: auto;
	}

	.thumbsup {
		font-size: 1.5em;
	    color: gray;
	}

	.large-font-size {
		font-size: 1.1em;
	}

	.small-font-size {
		font-size: 0.8em;
	}

	.very-small-font-size {
		font-size: 0.5em;
	}

	.purple-font {
		color: #7a4ef5;
	}

	.round-image {
		border-radius: 50%;
	}

	fancy-select {
		color: white;
	}

	.padding-right-15 {
		padding-right: 15px;
	}

	.tapped {
		color: #56cbec;
	}

	.padding-top-10 {
		padding-top: 10px;
	}
}
