.tile {

	.white-bckgrnd {
		background-color: white;
	}

	.margin-auto {
		margin: auto
	}

	.pos-relative {
		position: relative;
	}

	button {
		border-radius: 10px;
	}

	.no-padding {
		padding: 0;
		margin: 0;
	}
	
	.button-feel {
		background-color: #444;
		font-size: 0.7em;
		border-radius: 25px;
		margin-top: 15%;
		cursor: pointer;

		a {
			color: white;
		}
	}

	.button-bar {
		border-radius: 25px;
	}

	.single-button {
		width: 50%;
    	margin-left: auto;
    	margin-right: auto;
	}

	.thumbsup {
		font-size: 1.5em;
	    color: gray;
	}

	.large-font-size {
		font-size: 1.1em;
	}

	.small-font-size {
		font-size: 0.8em;
	}

	.very-small-font-size {
		font-size: 0.5em;
	}

	.purple-font {
		color: #7a4ef5;
	}

	.round-image {
		border-radius: 50%;
		max-width: 75%;
	  max-height: 75%;
	  box-shadow: 5px 5px 5px #888888;
	}

	fancy-select {
		color: white;
	}

	.padding-right-15 {
		padding-right: 15px;
	}

	.tapped {
		color: #56cbec;
	}

	.padding-top-10 {
		padding-top: 10px;
	}

	.custom-padding {
		padding: 10px 5px 0 20px;
	}

	.padding-top-5 {
		padding-top: 5px;
	}

	.created-date {
		font-size: 0.9em;
    font-weight: bold;
		text-align: center;
	}

	.padding-bottom-15 {
		padding-bottom: 15px;
	}

	.book-image-wrapper {
	  position: relative;

		&:after {
		  padding-top: 133%;
		  display: block;
		  content: '';
		}
	}

	.book-image-parent {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  left: 0;

		img {
		  height: 100%;
		  width: 90%;
		  z-index: 10;
			box-shadow: 5px 5px 5px #888888;
		}
	}

	.points-badge  {
	  z-index: 11;
	  position: absolute;
	  top: 50%;
	  left: 0%;
	  transform: translate(-50%, -50%);
	  color: tomato;
	  background-color: black;
	  padding: 10px;
		opacity: .9;
		color: white;
		border-radius: 50%;
		border: 3px solid white;
	}
}
