<ion-view class="register">
	<ion-content>
		<div class="margin-top-15">
			<div class="row">
				<div class="col col-offset-20 col-60 text-center">
					<span class="ion-ios-book padding-right-5"></span>
					<b class="large-font">Learning Cloud</b>
				</div>
			</div>
			<div class="row">
				<div class="col col-offset-10 col-80 text-center">
					<small>Grow your people grow your company</small>
				</div>
			</div>
			<div class="center-timeline">
				<div class="timeline-circle done"></div>
				<div class="timeline-circle" ng-class = "{'done' : vm.stepTwo || vm.stepThree}"></div>
				<div class="timeline-circle" ng-class = "{'done' : vm.stepThree}"></div>
			</div>
			<div class="margin-top-10">
				<div class="row">
					<div class="col col-offset-10 col-80">
						<div ng-if="vm.stepOne" ng-include="'features/register/register-step1.html'"></div>
						<div ng-if="vm.stepTwo" ng-include="'features/register/register-step2.html'"></div>
						<div ng-if="vm.stepThree" ng-include="'features/register/register-step3.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>