<ion-view class="register">
	<ion-content>
		<div class="margin-top-15">
			<div class="row">
				<div class="col col-offset-20 col-60 text-center">
					<span class="ion-ios-book padding-right-5"></span>
					<b class="large-font">Learning Cloud</b>
				</div>
			</div>
			<div class="row">
				<div class="col col-offset-10 col-80 text-center">
					<small>Grow your people grow your company</small>
				</div>
			</div>
			<div class="margin-top-15">
				<div class="row">
					<div class="col col-offset-10 col-80">
						<div ng-if="!vm.steptwo">
							<form name="form1" ng-submit="vm.validatePasswords(form1)">
								<label class="item-input margin-10">
								    <span class="input-label">
								    	<i class="ion-asterisk asterick"></i> 
								    	<span class="padding-left-10"> Name</span>		
								    </span>
								    <input type="text" ng-model="vm.name" required />
								  </label>
								<label class="item-input margin-10">
								    <span class="input-label">
								    	<i class="ion-asterisk asterick"></i> 
								    	<span class="padding-left-10"> Username</span>		
								    </span>
								    <input type="text" ng-model="vm.username" required />
								</label>
								<label class="item-input margin-10">
								   <span class="input-label">
								    	<i class="ion-asterisk asterick"></i> 
								    	<span class="padding-left-10"> Password</span>		
								    </span>
								    <input type="password" ng-model="vm.password" ng-change="vm.wrongPasswords = false"
								    		required />
								</label>
								<label class="item-input margin-10">
								    <span class="input-label">
								    	<i class="ion-asterisk asterick"></i> 
								    	<span class="padding-left-10"> Confirm</span>		
								    </span>
								    <input type="password" ng-model="vm.confirmPassword" 
								    		ng-change="vm.wrongPasswords = false" required />
								</label>
								<div class="text-danger" ng-if="vm.wrongPasswords">
									Passwords do not match
								</div>
								<div class="register-buttons text-center">
									<button type="submit" ng-class="form1.$valid ? 'link' : 'disable'">
										Continue
									</button>
								</div>
							</form>
						</div>
						<div ng-if="vm.steptwo">
							<form name="form2" ng-submit="vm.register(form2)">
								<label class="item-input margin-10">
								   <span class="input-label">
								    	<i class="ion-asterisk asterick"></i> 
								    	<span class="padding-left-10"> Email</span>		
								    </span>
								    <input type="email" ng-model="vm.email" required>
								  </label>
								<label class="item-input margin-10">
								    <span class="input-label">
								    	<i class="ion-asterisk asterick"></i> 
								    	<span class="padding-left-10"> Company</span>		
								    </span>
								    <input type="text" ng-model="vm.company" required />
								</label>
								<label class="item-input margin-10">
									<div class="input-label">
								      Genres
								    </div>
								    <select ng-model="vm.genres">
								      <option>Business</option>
								      <option>Science Fiction</option>
								      <option>Mystery</option>
								      <option>History</option>
								      <option>Poetry</option>
								      <option>Economics</option>
								    </select>
								</label>
								<label class="item-input margin-10">
								    <span class="input-label">Groups</span>
								    <input type="text">
								</label>
								<div class="register-buttons text-center">
									<button type="submit" ng-class="form2.$valid ? 'link' : 'disable'">
										Done
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>